body {
  font-size: 14px;
}

.app-wrapper {
  max-width: 90%;
}

.app-wrapper > h2 {
  background-color: #195075;
  color: #fff;
  padding: 10px 10px 10px 40px;
}

.btn {
  border: none;
  border-radius: 6px;
  background-color: #668397;
  color: #FFF;
  padding: 5px;
  cursor: pointer;
}

.task-counter {
  padding: 10px 20px;
}